#stash{
  background: blue;
  height: 100%;
  width: 300px;
}

#menu_left{
  float: right;
}

#menu{
  background: red;
  float: right;
  height: 100%;
  width: 300px;
}

#buildings{
  background: green;
  height: 100%;
  width: 300px;
}
